.portfolio-title-container{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio{
    padding: 70px 1rem;
}

.portfolio-title {
    color: #131518;
    background-color: #cacaca;
    width: 200px;
    border: 2px #000000 solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-right: 40px;
}

.project{
    width: 620px;
    height: 120px;
    margin: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2.5px solid #131518;
    border-radius: 10px;
}

.title-container{
    background-color: #cacaca;
    height: 50px;
    margin-top: 30px;
    padding: 5px;
    border: 2.5px solid #131518;
    border-radius: 10px;
}

#social{
    background-image: url('../../images/social.jpg');
}

#password{
    background-image: url('../../images/password.png');
}

#zoo{
    background-image: url('../../images/zoo.jpg'); 
}
#portfolio-image{
    background-image: url('../../images/portfolio-maker.jpg'); 
}

#regex{
    background-image: url('../../images/regex.png');
}

#coding{
    background-image: url('../../images/coding.png');
}

#team{
    background-image: url('../../images/team.jpg');
}

.project:hover{
    border: 5px solid #131518;
}

.project-title{
    background-color: #cacaca;
    width: 100px;
    height: 50px;
}

.portfolio-anchor{
    text-decoration: none;
    color: #131518;
}

.portfolio-anchor:hover{
    color: #131518;
}

@media only screen and (max-width: 665px) {
    .project{
        width: 450px;
    }
}

@media only screen and (max-width: 450px){
    .project{
        width: 350px;
    }
}

@media only screen and (max-width: 375px) {
    .project{
        margin-left: 23px;
    }
}

@media only screen and (max-width: 320px) {
    .project{
        width: 300px;
    }
}
