.skills-title-container{
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-title{
  color: #131518;
  background-color: #cacaca;
  width: 200px;
  border: 2px #000000 solid;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.container-skills{
  text-align: center;
  margin-bottom: 20px;
  background-color: #cacaca;
  padding: 10px;
  width: 700px;
  border: 2.5px solid #131518;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.skills{
  font-size: 20px;
}